:root {
  --primaryColor: rgb(201, 92, 74);
  --secondaryColor: rgb(83, 83, 211);
  --tertiaryColor: rgb(242, 223, 209);
}

/* media query for adjusting the sizing of the carousel on large screens */
@media (min-width: 1200px) {
  #carousel {
    width: 25% !important;
  }
}

/* media query for adjusting the sizing of the carousel on medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1199.98px) {
  #carousel {
    width: 50% !important;
  }
}

#background-carousel {
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
}

li > a {
  color: var(--secondaryColor);
  text-decoration: none;
}

li > a:hover {
  color: var(--primaryColor);
}
