/* root color pallette */
:root {
  --primaryColor: rgb(201, 92, 74);
  --secondaryColor: rgb(27, 143, 52);
  --tertiaryColor: rgb(242, 223, 209);
}

/* media query for adjusting the sizing of the carousel on medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1199.98px) {
  #carousel {
    width: 50% !important;
  }
}

/* media query for adjusting the sizing of the carousel and images on large screens */
@media (min-width: 1200px) {
  #carousel {
    width: 25% !important;
  }

  #carousel::before {
    content: "";
    background: url("rose_skull.png") no-repeat center;
    background-size: contain;
    position: absolute;
    left: -150%;
    top: 50%;
    width: 400px;
    height: 380px;
    transform: translateY(-50%);
    z-index: 1;
  }

  #carousel::after {
    content: "";
    background: url("rose_skull.png") no-repeat center;
    background-size: contain;
    position: absolute;
    right: -150%;
    top: 50%;
    width: 400px;
    height: 380px;
    transform: translateY(-50%) scaleX(-1);
    z-index: 1;
  }
}

@media (min-width: 1700px) {
  #carousel::before {
    content: "";
    background: url("rose_skull.png") no-repeat center;
    background-size: contain;
    position: absolute;
    left: -100%;
    top: 50%;
    width: 400px;
    height: 418px;
    transform: translateY(-50%);
    z-index: 1;
  }

  #carousel::after {
    content: "";
    background: url("rose_skull.png") no-repeat center;
    background-size: contain;
    position: absolute;
    right: -100%;
    top: 50%;
    width: 400px;
    height: 418px;
    transform: translateY(-50%) scaleX(-1);
    z-index: 1;
  }
}

/* custom css styling for various elements section */
#background-carousel {
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
}

li > a {
  color: var(--secondaryColor);
  text-decoration: none;
}

li > a:hover {
  color: var(--primaryColor);
}

article.card {
  border: none;
}

.card-body {
  background-color: var(--secondaryColor);
}

#staff-card {
  background-color: var(--tertiaryColor);
}

#custom-btn {
  background-color: var(--secondaryColor);
  color: white;
}

#custom-btn:hover {
  background-color: var(--primaryColor);
}
