:root {
  --primaryColor: rgb(201, 92, 74);
  --secondaryColor: rgb(83, 83, 211);
  --tertiaryColor: rgb(242, 223, 209);
}
#custom-btn {
  background-color: var(--secondaryColor);
  color: white;
}

#custom-btn:hover {
  background-color: var(--primaryColor);
}

#carousel {
  padding: 20px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
}

/* media query for adjusting the sizing of the carousel on large screens */
@media (min-width: 1200px) {
  #carousel {
    width: 25% !important;
  }
}

/* media query for adjusting the sizing of the carousel on medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1199.98px) {
  #carousel {
    width: 50% !important;
  }
}

article.card {
  border: none;
}

.card-body {
  background-color: var(--secondaryColor);
}

#staff-card {
  background-color: var(--primaryColor);
}

#background-carousel {
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
}

li > a {
  color: var(--secondaryColor);
  text-decoration: none;
}

li > a:hover {
  color: var(--primaryColor);
}
